{
  "branches": [
    "master",
    {
      "name": "beta",
      "prerelease": true
    },
    {
      "name": "alpha",
      "prerelease": true
    }
  ],
  "repositoryUrl": "https://github.com/monnierant/n8n-nodes-bricklink",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/github"
  ]
}
